<div class="body1">
    <div class="main">
        <div class="text1">
            <p> 
                Bem-vindo ao meu projeto de Desafio Full Stack! Neste desafio, desenvolvi uma aplicação de lista de tarefas (To-Do-List) usando um backend em Node.js e um frontend em Angular. A aplicação utiliza autenticação JWT para segurança, e o banco de dados é gerenciado com SQLite. A comunicação entre o frontend e o backend é feita por meio de HTTPClient.<br><br>
                Estou animado para apresentar como integrei diferentes tecnologias, como JavaScript, Node.js, Angular, e SQLite. Espero que este projeto demonstre meu comprometimento com a qualidade e inovação em desenvolvimento.<br><br>
                Vamos criar algo incrível juntos!
            </p>
        </div>
        <img class="foto1" src="https://avatars.githubusercontent.com/u/56145099?s=400&u=351185609d72fc7235aa4b8d3340bbb8d5804408&v=4" alt="foto-kevao">
    </div>
</div>