.body1{
    display: flex;
    justify-content: center;
}

.main{
    background-color: rgba(255, 255, 255, 0.90);
    margin: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    max-width: 1000px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

p{
    font-size: 18px;
    color: black;
    text-align: justify;
}

.text1{
    max-width: 400px;
}

.foto1{
    width: 100%;
    max-width: 400px;
    height: 400px;
    opacity: 100%;
    border-radius: 20px;
}

