<form [formGroup]="taskForm">
<div class="container mt-3">
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Priority</label>
        <select class="form-select" id="inputGroupSelect01" formControlName="priority">
            <option selected>Choose...</option>
            <option value="1">High</option>
            <option value="2">Intermediate</option>
            <option value="3">Low</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Your Task</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="task"></textarea>
    </div>
    <button (click)="addlistTask()" type="button" class="btn btn-primary m-1">Save and add new task</button>
    <button (click)="getList()" type="button" class="btn btn-primary m-1">Click here to load your tasks, you need login first!</button>
</div>
</form>

<hr> 

<div class="container text-center">
    <h3>Tasks</h3>
</div>


<div class="container text-center">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3" *ngFor="let task of taskInfos">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Priority: {{ getPriorityLabel(task.priority) }}</p>
                    <p class="card-text">{{task.task }}</p>
                    <p class="card-text">{{getStatusLabel(task.status)}}</p>
                    <p class="card-text">task uuid</p>
                    <p>{{task.uuidtask}}</p>
                    <button  type="button" class="btn btn-primary m-1">Done</button>
                    <button (click)="taskDelete(task.uuidtask)"type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
