<form class="container">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Your Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Click to Register</button>
    </div>
</form>

<h1>Testing HTTPClient</h1>
<input type="button" value="Atualizar" (click)="update()"/>
<hr/>
<h2>{{statusMessage.message}}</h2>
<div></div>
<h4>USD</h4>
<h3></h3>